<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/../../../Logger/NLogs/NLogs-internal-logs.txt">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets>
        <!-- Your existing internal log file target -->
        <!--Time Stam adding  -->
        <target xsi:type="File" name="internalFile"  fileName="${basedir}/../../../Logger/NLogs/HMSLogs-internal-${shortdate}.log"
				  maxArchiveFiles="5"
				  maxArchiveSize="1mb"
			archiveNumbering="Sequence"
				deleteOldFileOnStartup="true">
            <layout xsi:type="JsonLayout" includeEventProperties="true">
                <!-- Layout for internal log file -->
            </layout>
        </target>

        <!-- Define your own log file target -->
		<target xsi:type="File" name="ownFile-web" fileName="${basedir}/../../../Logger/NLogs/HMSLogs-custom-${shortdate}.log"
				  maxArchiveFiles="5"
				  maxArchiveSize="1mb"
			archiveNumbering="Sequence"
				deleteOldFileOnStartup="true">
			
			<layout xsi:type="JsonLayout" includeEventProperties="true">
                <attribute name="time" layout="${longdate}" />
                <attribute name="level" layout="${level:uppercase=true}" />
                <attribute name="logger" layout="${logger}" />
                <attribute name="message" layout="${message}" />
                <attribute name="exception" layout="${exception:format=tostring}" />
            </layout>
        </target>
    </targets>

    <rules>
        <!-- Define rules for logging -->
        <!-- Log messages of all levels to the internal log file -->
        <logger name="*" minlevel="Trace" writeTo="internalFile" />

        <!-- Log messages of Error level and above to your own log file -->
        <logger name="*" minlevel="Error" writeTo="ownFile-web" />
    </rules>
</nlog>
